.movie-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( to right,rgba(0, 0, 0, 1) 16%, transparent);
  pointer-events: none; /* Allows clicks to go through the overlay */
  z-index: -1;
  border-radius: 10px;
}

.movie-details {
  position: relative;
  background-size: cover;
  background-position: 70% 20%;
  height: 50vh; /* Set a specific height value */
  text-align: center;
  color: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}

.star-wars-title {
  font-size: 16px; /* Smaller font size for "Star Wars" */
  text-transform: uppercase;
  
}

.gradient-text {
  font-family: 'serif';
  font-size: 36px;
  background: linear-gradient(180deg,rgb(233, 233, 233),rgb(233, 233, 233),rgb(228, 204, 144));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.border-text {
  padding:0;
  border-top: 2px solid rgb(233, 233, 233); /* Top border */
  border-bottom: 1px solid rgb(228, 204, 144); /* Bottom border */
  border-left: none;
  border-right: none;
  text-transform: uppercase;
}

legend {
  font-family: 'Orbitron', sans-serif;
  font-size: 10px;
  font-weight: 900;
  color: white; 
  text-transform: uppercase;
  text-align: left;
}

.roman-numerals {
  font-family: 'serif';
  font-weight: bold;
}


.title-details{
  font-size: 3rem;
  line-height: 0.9;
  font-weight: 700;
  text-align: left;
}


.movie-details button {
  width:100px;
  background-color: #FFD700; /* Bright  gold */
  color: black; /* Change text color to black */
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1); /* Add shadow */
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.movie-details button:hover {
  background-color: #ffe448;
  transform: scale(1.05); /* Add a slight scale effect on hover and click */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover and click */
  transform: translateY(-2px); /* Add a slight lift on hover */
}

.movie-details button:active {
background-color: #ffe448;
  transform: scale(1.05); /* Add a slight scale effect on hover and click */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow on hover and click */
  transform: translateY(2px); /* Add a slight press effect on click */
}
.details-right{
  z-index: 5;
  position: relative; 
}


.bottom-title{
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 100;
  color:rgb(228, 204, 144);
 
	letter-spacing: 0.2rem;
}
.episode-box{
  width:auto;
}
.details-left{
  font-size: 40px;
  width:300px;
 margin-left: 0;
 z-index: 5;
 padding-bottom:40px;
}
.favorite-star {
  font-size: 24px; 
  color: white;
}
@media screen and (max-width: 768px) {
.movie-details{
  height: 100vh;
  flex-direction: column;
}
.details-left{
  width:80%;
 
}
.title-details{
  font-size: 2rem;
}
.gradient-text{
  font-size: 1.4rem;
}
.bottom-title{
  font-size: 0.3rem;
}
}