

.movie-list {
  display: flex;
  width: auto; /* Allow items to expand horizontally */
  align-items: center;
  /* max-width: 1200px; */
  justify-content: space-between; 
  height:35vh;
  z-index: 1;
  position: relative;

}
@media screen and (max-width: 768px) {
  .movie-list{
    height:auto;
    flex-direction: column;
  }
}